#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("freedom.jpg") left 10% bottom 20%/cover border-box;
  /*background-size: cover;
  background-position: left 10% bottom 20%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  /* background-image: linear-gradient(0deg, red, blueviolet 60%, rgba(0, 0, 0, 0.5)); */
  /* background-image: radial-gradient(ellipse farthest-side at 20% 50%, rgb(219, 172, 172), rgb(117, 182, 226), rgb(193, 241, 193)); */
  width: 100%;
  padding: 10px;
  height: 528px;
  margin-top: 43px;
  position: relative;
}

.section-title {
  color: #0e4f1f;
  text-align: center;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: rgb(191, 216, 197);
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__annotation {
  background-color: white;
  color: #0e4f1f;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #053010;
}

.plan__price {
  color: #5a6b5f;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #053010;
}

.plan--highlighted {
  background-color: rgb(104, 155, 116);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
  list-style: none;
}

.plan__feature {
  margin: 8px 0px;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin-top: 32px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #e6c7d1;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}




/* #overview h1 {
    background-color: red;
   
} */

/* h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
} */

/* 
- Selectors - div, blog.post, # main-title, [disabled], *
- Properties - background, backgounr-color, width, margin, display, etc.
- Values - redd, 30%, 10px, etc.; values are tightly coupled with specific property - pre-defined options (display: block; overflow: auto;), colors, length, sizes & numbers, functions
-the class overwrites the element selector, no matter if it's before or after it.
-CSS - cascading stylesheet - multiple rules can be applied to the same element . 
-Specificity resolve conflicts arising from multiple Rules. Lowest to highst -   TAG SELECTORS, CLASS & PSEUDO-CLASS & ATTRIBUTE SELECTORS, ID SELECTORS, ININE STYLES
-INHERITANCE - an element inherits its parent style (not only the direct parents but all above); it always comes at the bottom of the hierarchy
-combinators (#overview h1) have higher specifity than tags (h1); this is not inheritance, we are settting a speicifi style for an element inside another element
*/

/* 
COMBINATORS- you can combine multiple selectors, not only 2
- Adjacent Sibling (div + p + ...) - it assigns it to all direct sibling of the first tag -> elements share the same parent and second element comes immediately afrter the first element 
- General Sibling (div ~ p) - it will apply the style to all siblings (not only next to each other)
- Child (div > p) - it applies to direct children, but it doesn't work for nested elements
- Descendant (div p) - the level doesn't matter, the style is applied to direct and non-direct children of the element
*/
